.header {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: var(--header-height);
    justify-content: flex-start;
    padding: 16px 32px;
    position: --webkit-sticky;
    position: sticky;
    top: 0;
    transition: background-color 0.5s ease;
    background-color: #fff;
    box-shadow: 1px 2px 3px var(--gray-color);
    z-index: 100;
}
.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__logo-img {
    height: var(--header-height, 76px);
    width: auto;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header__search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: 1px solid var(--gray-color);
    color: #646464;
    padding: 13px 40px 13px 12px;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out 0.5s;
    margin-right: -32px;
}

.header__search-input:hover,
.header__search-input:focus {
    box-shadow: 0 0 1em #00000013;
}

.header__search-input:focus {
    outline: none;
    background-color: #f0eeee;
}

.header__search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.header__search-input:focus + .header__search-button {
    background-color: #f0eeee;
}

.header__search-button {
    border: none;
    background-color: #f4f2f2;
    margin-top: 0.1em;
    margin-right: 2rem;
}

.header__search-button:hover {
    cursor: pointer;
}

.header__search--icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

.header__user {
    position: relative;
    font-size: 16px;
    font-family: var(--font-text);
    border-radius: 5px;
    color: var(--white-color);
}

.header__user:hover .user-menu {
    display: flex;
}

.user-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color);
}

.user-link span:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.header__user-icon {
    background-color: var(--bg-btn);
    border-radius: 50%;
    padding: 12px 16px;
    transition: all ease-in-out 0.2s;
    margin-right: 12px;
    color: var(--white-color);

    &:hover {
        transform: translate(-0.25rem, -0.25rem);
        background: var(--hover-bg);
        box-shadow: 0.25rem 0.25rem var(--bg-btn);
    }
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 140px;
    background-color: var(--white-color);
    box-shadow: 1px 2px 3px var(--gray-color);
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--gray-color);
}

.menu-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--font-text);

    &:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
}
